/*Variables-----------------------------------*/
$letra-arimo: 'Arimo', sans-serif; 
$color-negro: black;
body {
    background-color: rgb(245, 214, 219);
    padding: 1px;
    margin: 3px;
    text-decoration: none;
    background-image: linear-gradient(to top, rgb(245, 214, 219), rgb(218, 124, 175));
}
/* estilos del h1 al h3------------------------------------------------ */
.titulo{
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    text-align: center;
    margin: 5px;
}                                                                                                                                                                                                 

h2{
  font-family: $letra-arimo;
    text-align: center;
    font-size: 35px;
    padding-bottom: 30px;
}

h3{
    font-family: $letra-arimo;
    text-align: center;
    padding-bottom: 30px;
}

/* seccion barra de navegacion------------------------------------------*/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
nav{
     ul{
          li{
               a{                                                                                                                                         
    color: $color-negro;
    font-family: $letra-arimo;
}
}
}
}
.container-fluid{
    ul {
padding: 10px;
margin: 10px;
}
}

.container-fluid{
     ul{ 
         li{
              a{
  color: $color-negro;
  font-size: 20px;
}
}
}
}

/*SECCION MENU PRINCIPAL-------------------------------------------------*/
.parrafoNav{
  margin: 30px;
}

/* etiqueta p-----------------------------------------------------------*/
 p {
    font-family: $letra-arimo;
    margin-left: 10px;
 }

 /* SECCION AROMATICOS -----------------------------------------------------------------*/
.parrafoAromatico{
  margin:10px;
  padding:10px;
  font-size: 18px;
}

 .contenedorImagenPadre{
   display: grid;
   grid-template-columns: repeat(4, 280px);
   padding: 20px;
 }

 .imagenTexto{
   text-align: center; 
   padding: 10px;
   margin: 10px;
   border: solid 1px $color-negro;
 }

/* SECCION SUBLIMABLES ----------------------------------------------------------------*/
.contenedorPadreImagen {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  padding: 20px;
}

.imagenTextoSublimacion {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: solid 1px $color-negro;
}

/* SECCION GALERIA-----------------------------------------------------------------------*/
.contenedorGaleria {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  padding: 30px;
}

.galeriaItem {
  margin: 10px;
}

.zoom {
  transition: 0.5s; 
}

.zoom:hover {
  
          transform: scale(1.1);
}

/* seccion formulario-----------------------------------------------------*/
  form {
    border: 2px solid $color-negro;
    width: 350px;
    margin: auto;
    padding: 10px 20px;
   
            box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
  }
  
  input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    
            box-sizing: border-box;
    font-size: 17px;
    font-family: $letra-arimo;
  }
  
  input:focus {
    width: 200px;
    font-size: 24px;
  }

/* seccion footer-------------------------------------------------------*/
footer{ 
    ul{
         li{
    list-style: none;
}
}
}
footer{ 
    a{
    font-family: $letra-arimo;
}
}

footer{ 
    ul{ 
        li{
             a{
    color: $color-negro;
    
    text-decoration: none;
}
}
}
}
nav{
     ul{
    list-style: none;
}
}
.footerControlador{
  display: flex;
  justify-content: space-between;
}

.listaFooter{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.listaItem{
  display: flex;
  padding-inline: 10px;
  padding-top: 20px;
}

.listaItem{
     a{
  color: blue;
}
}
/* MEDIA RESPONSIVE-------------------------------------------------------------------------------*/
@media (max-width:576px) {
  .contenedorGaleria {
   grid-template-columns: repeat(1, 1fr);
   
  }
 
  .parrafoNav{
    font-size: 15px;
  }

.parrafoAromatico{
  font-size: 15px;
}

  .contenedorPadreImagen {
    grid-template-columns: repeat(1, 1fr);   
  }

  .contenedorImagenPadre {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width:577px) and (max-width:992px) {
  .contenedorGaleria {
  grid-template-columns: repeat(2, 320px);
  padding-left: 60px;
  }

  .contenedorPadreImagen {
    grid-template-columns: repeat(2, 320px);
    padding-left:60px;
  }

  .contenedorImagenPadre {
    grid-template-columns: repeat(2, 320px);
    padding-left: 60px;
  }
}

@media (min-width: 993px)  {
  .contenedorGaleria {
  grid-template-columns: repeat(4, 320px); 
  }

  .contenedorPadreImagen {
    grid-template-columns: repeat(4, 290px);
    padding-left: 80px;
  }

  .contenedorImagenPadre {
    grid-template-columns: repeat(4, 300px);
    padding-left: 70px;
  }
}
